#Template de arquivo a ser gerado pelo C:

<operacao:> e.g. Movimento Browniano, usar nomenclatura pre definida.
<paramNumber> e.g. 2
<param1> pontos
<param2> blablabla
<param3>
<param4>
...
<paramN>

#<savePoints> 0/1 # esse parametro depende do <plot> portanto sera omitido aqui.
<plot> e.g. Sim/Nao ou 1/0
<nomeArquivo> string
<>
